@import url("https://fonts.googleapis.com/css?family=Playfair+Display:regular,500,600,700,800,900,italic,500italic,600italic,700italic,800italic,900italic&display=swap&subset=cyrillic-ext");

@import url("https://fonts.googleapis.com/css?family=Bebas+Neue:regular&display=swap&subset=cyrillic-ext");

@font-face {
	font-family: "Century Gothic";
	src: url("../fonts/CenturyGothic-Bold.woff2") format("woff2"), url("../fonts/CenturyGothic-Bold.woff") format("woff");
	font-weight: bold;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "Century Gothic";
	src: url("../fonts/CenturyGothic.woff2") format("woff2"), url("../fonts/CenturyGothic.woff") format("woff");
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	border: 0;
	box-sizing: border-box;
}
li {
	list-style: none;
}
a,
a:visited {
	text-decoration: none;
}
a:hover {
	text-decoration: none;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: inherit;
	font-size: inherit;
}
img {
	vertical-align: top;
}
html,
body {
	height: 100%;
}
html {
	font-size: 16px;
}
body {
	line-height: 1;
}
.wrapper {
	background-color: #7ca1aa;
	min-height: 100%;
	overflow: hidden;
	padding: 20px;
	border: 4px double black;
	margin: 10px;
}

/* ------------------------------ */

h1 {
	font-family: "Playfair Display";
	text-transform: uppercase;
	font-weight: 900;
	font-size: 50px;
	text-align: center;
	margin-bottom: 30px;
	color: rgb(44, 41, 41);
}

h2 {
	font-family: "Bebas Neue";
	text-transform: capitalize;
	font-weight: 700;
	font-size: 35px;
	text-align: left;
	margin-bottom: 20px;
	color: darkred;
}

nav {
	text-align: center;
}

nav li {
	display: inline-block;
	margin: 0 50px 30px 0;
	text-align: center;
	box-shadow: 0px 0px 20px rgb(60, 86, 108);
}

nav a {
	color: whitesmoke;
	font-weight: 600;
	font-style: italic;
	font-size: 18px;
	text-shadow: 1px 1px 15px rgb(110 159 233);
	text-transform: uppercase;
}

.text-nav {
	display: block;
}

.image {
	text-align: center;
	margin-bottom: 30px;
}

.content {
	font-family: "Arial";
	margin-bottom: 25px;
	font-style: italic;
	text-align: justify;
	text-transform: lowercase;
	font-weight: 600;
	border: 3px solid #000;
	padding: 15px;
}

.item {
	background-color: rgb(238, 218, 106);
	display: inline-block;
	max-width: 400px;
	max-height: 300px;
	overflow: auto;
	padding: 15px;
	margin: 0px 50px 0px 0px;
	margin-top: 60px;
	margin-bottom: 80px;
	opacity: 40%;
}

p {
	font-family: "Century Gothic";
	margin-bottom: 25px;
	text-align: justify;
}

h3 {
	font-family: "Bebas Neue";
	font-size: 30px;
	text-align: center;
	color: darkgreen;
	text-decoration: underline;
	margin-bottom: 15px;
}

.items {
	text-transform: lowercase;
	font-style: italic;
	border-radius: 10px;
}

.link {
	font-family: "Arial";
	font-size: 22px;
	text-transform: lowercase;
	outline: 2px dotted darkolivegreen;
	text-align: center;
	padding: 40px;
	margin-bottom: 100px;
}

.task1 {
	width: 200px;
	height: 200px;
	background-color: #393e41;
	border-radius: 50%;
	margin: 0px 0px 20px 0px;
	margin-bottom: 40px;
}

.task2 {
	opacity: 50%;
	margin-bottom: 40px;
}

.task2-1 {
	background-color: tomato;
	color: whitesmoke;
}

.page {
	font-family: "Times New Roman", serif;
	font-size: 30px;
	color: rgb(65, 32, 32);
	margin-bottom: 60px;
	text-transform: uppercase;
}

.span {
	display: block;
	border: 2px solid #000;
	padding: 15px;
	margin-bottom: 40px;
}

.task4 {
	display: inline-block;
	border-top: 10px solid #355f04;
	border-right: 5px dotted #59e20a;
	border-bottom: 8px dashed #dba83b;
	border-left: 12px dashed #e50745;
	background-color: #474b4d;
	color: whitesmoke;
	padding: 20px;
	margin-bottom: 40px;
}

.link5 {
	color: #fff;
	text-shadow: 2px 10px 10px #7fffd4;
	box-shadow: -5px 20px 10px #4c00ff;
}
